#sidebar {
  float: left;
  width: 15%;
  padding-left: 20px;
  padding-right: 20px;
  background: lightgray;
  font-size: 12px;
}

#sidebar img {
  width: 100%;
  height: auto;
}
#sidebar div {
  margin-bottom: 20px;
}
#sidebar p {
  color: purple;
  margin: 0;
}

#sidebar p.group_title {
  color: black;
}

#body {
  display: inline-block;
  margin: 0;
}

.col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
}

.green_heading {
  background-color: #cef2e0;
  border: 1px solid black;
}

.green_body {
  background-color: #f5fffa;
}

.green_column {
  background-color: #f5fffa;
}

.blue_heading {
  background-color: #cedff2;
  border: 1px solid black;
}

.blue_body {
  background-color: #dae6f2;
}

.blue_column {
  background-color: #dae6f2;
}
